<!DOCTYPE html>
<html lang="en">

<head>
  <title>Index page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">

</head>
<body background="{{ url_for('static', filename='img/Denmark.jpg') }}" style="font-family: georgia, sans-serif; font-variant: small-caps;">
  <header style= "text-align: right">
      <a href="/login"> login </a>
      <a> or </a>
      <a href="/registration"> register </a>
    </header>
  <ul>
    <button id="back" onclick="goBack()">back</button>
    <li><a href="home">home</a></li>
    <li><a href="input_data">input data</a></li>
    <li><a href="map">map</a></li>
  </ul>
  <div>
  {% block content %}{% endblock content %}
  </div>
</body>
</html>
