{% extends "layout.html"%}
{% block content %}
<center>
  <div class="content-section">
    <form method="POST", action="">

    {{ form.hidden_tag()}}
    <fieldset >
        <h1>login</h1>
        {{ form.username.label(class="form-control-label") }}<br>
        {{ form.username(class="form-control form-control-lg") }}
        <div>
          {{ form.password.label(class = "form-control-label") }}<br>
          {{ form.password(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="submit">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
    <div class = "border-top pt-3">
      <small class="text muted">
        don't have an account? <a href="{{ url_for('registration') }}"> sign up </a>
      </form>
    </div>
    <center>
{% endblock content%}
